@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rufina:wght@400;700&display=swap');
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3b3030;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

form {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 300px;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

#movie-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.movie-card {
    width: calc(25% - 20px); 
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.movie-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.movie-card h3 {
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
}

.movie-card p {
    font-size: 0.9rem;
    margin: 10px;
    color: #555;
    overflow: visible; 
    text-overflow: unset; 
    display: block; 
    overflow-y: auto; 
    max-height: 150px; 
}

#movie-results {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px;
}


.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #555;
}